@model int
@{
    ViewData["Title"] = "Payment Confirmation";
}
<div class="container row pt-4" style="height:700px">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully!</h1>
        Your Number is: @Model <br /><br />
        <img src="~/Images/lawn_leaf.jpg" width="65%" />
        <div class="col-12 text-center" style="color:maroon">
            <br />
            Payment Has been Placed Successfully!
            <br />
        </div>
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-OrderId=@Model
            class="btn btn-primary">Back To Order Details
        </a>
    </div>
</div>