@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="p-3">Create Category</h2>
            <hr />
        </div>

        <div class="mb-3 row">
            <label>Category Name</label>
            <input type="text" class="form-control"/>
        </div>
        <div class="mb-3 row">
            <label>Display Order</label>
            <input type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control" >Add</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="index" class="btn btn-outline-secondary border form-control" >Back to menu</a>
            </div>
        </div>
    </div>
</form>